

* {
	box-sizing: border-box;
  
}
.body2{
    /* background-image: url(psico3.jpeg); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
   
}
h2.des2{
	font-family: 'Chewy', cursive;
	font-size: 350%;
	width: 55%;
}

.text2{
text-align: justify;
width: 500px;
bottom: -150px;
border: 1px solid #f3f3f3;
border-radius: 9px;
background-color:#f3f3f3;
cursor: pointer;
opacity: 100%;

}


.img2{
    position: relative;
    font-size: 50%;
    right: -500px;
    top: -400px;
}

  

