
:root{
	--col1: #823a75;
    --col2: #9999FF;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
 min-height: 100%;
  /*overflow-x: hidden;*/
} 
.title2{
background-color: #9999FF;
color: white;
font-size: 50px;
text-align: justify;
width:100%;
}
.divListo{
position: relative;
top: 200px;
right: 180px;

float:right;    
width: 35%;
}
.divStart{
position: relative;
top: 320px;
right: -200px;
display: flex;
float:right; 
width: 25%;



}
/*Iniciar quiz*/
.start{
background-color: rgb(86, 88, 209);
 font-size: 50px;
 height: 10%;
 color: white;
 cursor: pointer;

 border: 0;
 border-radius: 0.4rem;
}
.Listo{
 font-size: 40px;
 font-family: cursive;
 color: var(--morado);
}

.start:hover{
background-color:var(--col1);
}
/*tabla estilos*/


.btn-crear{
    width: 200px;
    height: 60px;
    margin-top: -70px;

}
.tabla1{
   margin-left:-299px;

}


/*media querys*/

@media screen and (max-width: 1000px) {

    .divListo{
        position: relative;
        top: 800px;    
        }
        .divStart{
        position: relative;
        top: 1000px;  
        right: 100px;
        width: 100px;
        }
    }

