
:root{
    --col2: #68A074;}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title2{
background-color:#68A074;;
color: white;
font-size: 50px;
text-align: start;
width:100%;

}
/*formulario estilos*/
.col-5{
    position: relative;
    width: 40%;
    left: 500px; 
    top: -15px;
    }

.label_tema{
font-size: 30px;
font-weight: bold;
font-family: rubik;
}
.mb-3{
    text-align: center;
    width: 400px;
}

.m{
    width: 200px;
    text-align: center;
}

/*Botones*/
.divStart{
display: flex;
width: 400px;

}
.añadir{
    background-color: #413e40;
    color: wheat;
    

}
.start{
 font-size: 20px;
 background-color:var(--col2);
 color: white;
 cursor: pointer;
 border-radius: 0.4rem;
 text-decoration: none;
 margin-right: 100px;
 
 

}
.start:hover{
background-color:wheat;
}


/*tabla estilos*/
.lista{
    text-align: center;
    font-family: rubik;
    width: 500px;   
}
.table{
    scroll-behavior: smooth;
    font-size: 60%;
}
.actualizar{
    background-color: #413e40;
    color: wheat;
}


/*simbolos*/
.material-symbols-outlined{
    font-size: 30px;
}
/*media querys*/
@media screen and (max-width: 1000px) {


    /* .title2{
        position: relative;
        top: 200px;
        } */

        .col-5{
            position: relative;
            width: 40%;
            left: -100px; 
            top: 405px;
            }
    }

